*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/servercrawl.jpg");
    background-size: 100vw 100vh;
    color:gray;
    font-weight: bolder;
    font-family: 'Mukta', sans-serif;
    font-size: 5rem;
}

a{
    color:rgba(255, 255, 255, 0.425);
    text-decoration: none;
}

.startscreen {
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.title {
    padding-bottom: 5vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background:gray;
    border-radius: 25%;
    padding: 15px;
    margin:15px;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
    color:white
}

.startmenu{
    display: flex;
    flex-direction: column;
}
